header {
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  text-align: center;
  background: #03b1c4;
  box-shadow: 1px 5px 5px #888888;
}

h1 {
  color: #fd408b;
  display: inline-block;
  font-family: 'Monoton', cursive;
  font-size: 3em;
  margin: 0;
  top: 0;
  padding-left: 0.3em;
}

i {
  color: #fd408b;
}

footer {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #03b1c4;
  background: gray;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  margin-top: 5em;
  border-top: 5px solid lightgray;
}
