#productSpace img {
  max-width: 150px;
  margin: 1em;
  border-radius: 0.2em;
  border: 1px solid #d8d283;
  transition: box-shadow 0.2s ease-out;
}

#productSpace img:hover {
  border-bottom: 2px solid #d8d283;
  box-shadow: 1px 5px 5px #888888;
}

#productSpace img:active {
  border-bottom: 1px solid #d8d283;
  max-width: 145px;
}

.randomNumberGenerator {
  text-align: center;
  min-width: 600px;
  max-width: 800px;
}

body {
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  text-align: center;
  background: #03b1c4;
  box-shadow: 1px 5px 5px #888888;
}

i {
  color: #fd408b;
}

h1 {
  color: #fd408b;
  display: inline-block;
  font-family: 'Monoton', cursive;
  font-size: 3em;
  margin: 0;
  top: 0;
  padding-left: 0.3em;
}

section {
  margin: auto;
  margin-top: 5em;
  width: 60%;
}

h2 {
  font-family: 'Cabin Sketch', cursive;
  color: #0167be;
  font-size: 2em;
  border-bottom: 4px double #fb0041;
  padding: 0.5em;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  color: #03b1c4;
  padding-left: 2em;
  padding-right: 2em;
}

#canvas {
  max-width: 50em;
  max-height: 50em;
  margin: auto;
}

.tab {
  width: 90px;
  height: 60px;
  background: #fd408b;
  border-left: 2px solid #fb0041;
  border-top: 2px solid #fb0041;
  border-right: 2px solid #fb0041;
  border-top-right-radius: 0.9em;
  border-top-left-radius: 0.9em;
  color: white;
  position: fixed;
  top: 179px;
  transform: rotate(90deg);
  left: -85px;
  text-align: center;
  padding-top: 0.5em;
  font-family: 'Monoton', cursive;
  animation: tabmove 0.5s forwards;
  animation-delay: 2s;
}

@keyframes tabmove {
  from {left: -85px;}
  to {left: -40px;}
  animation-play-state: paused;
}

.tab:hover {
  color: yellow;
  cursor: default;
}

@keyframes aboutmove {
  from {left: -360px;}
  to {left: -60px;}
  animation-play-state: paused;
}

.tab:active + .about {
  animation: aboutmove 1s forwards;
}

.about {
  position: fixed;
  height: 5em;
  width: 12em;
  background: #fd408b;
  padding: 1em;
  color: white;
  border: 2px solid #fb0041;
  border-radius: 1em;
  padding-left: 4em;
  top: 167px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1em;
  left: -360px;
}

footer {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #fd408b;
}
